<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rishabh.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity
            android:name=".CreatePoll"
            android:label="@string/title_activity_create_poll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateRating" />
        <activity
            android:name=".UserRatings"
            android:label="@string/title_activity_user_ratings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserPolls"
            android:label="@string/title_activity_user_polls"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AllRatings" />
        <activity android:name=".AllPolls" />
        <activity android:name=".Menu"></activity>
    </application>

</manifest>